.navbar-nav{
  flex-direction: row;
}
.nav-link{
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

.result_onerror{
  background-color: #fcc;
}
.result_doing{
  background-color: #ffc;
}
.result_ok{
  background-color: #cfc;
}

#result_texts{
  display: none;
}
#result_pi{
  display: none;
}